<div class="bg-body-secondary rounded mt-2 p-4">
  <h1><%= t("messages.welcome")%></h1>
  <p><%= t("messages.welcome_message")%></p>
  <hr class="my-4">
  <p><%= t("messages.menu")%></p>
  <%=render "menu"%>
</div>

